
body {
    background: url("/bundles/webalibresecciones/images/base/fondo_gris.jpg") repeat scroll 0 0 #fbd19e;
    color: #000000;
    font-family: sans-serif, Times New Roman;
    /*font-size: 13px;*/
    margin: 20px 0 0 0;
    padding: 0;
    display: block;
    
}

.out-container {
  font-size: 14px;
  width: 100%;
  margin: 0 auto 0 auto;
  /*padding: 5px 0;*/
  display: block;
}

